* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #64748b;
  flex-direction: column;
  gap: 100px;
  position: relative;
}

.container {
  display: flex;
  gap: 10px;
}

.cellBox {
  width: 90px;
  height: 90px;
  background-color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: width 0.6s;
  cursor: move;
}
.faded-out {
  width: 0px;
}
.drop-area {
  height: 30vh;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  left: 10px;
  background-color: none;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.6s;
}
.drop-visible {
  background-color: white;
  opacity: 0.3;
  transition: opacity 0.6s;
}
.cannot-drop {
  background-color: red;
  opacity: 0.3;
  transition: opacity 0.6s;
}

.cellText {
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: white;
  background-color: black;
  resize: none;
  text-align: center;
  border: none;
}
.hidden {
  background-color: white;
  width: 10px;
  height: 70px;
  border-radius: 10px;
  position: absolute;
  left: -10px;
  opacity: 0%;
  cursor: pointer;
}
.hidden:hover {
  opacity: 20%;
}

.string {
  font-size: 36px;
  color: white;
  font-family: monospace;
}
